<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <h1 class="card-tittle">THE SOLAR SYSTEM</h1>
        <div class="card-wrapper">
            <ul class="card-list">
                <li class="card-item">
                    <div class="planet-cont">
                        <div class="back-img" data-planet="mercury"></div>
                        <div class="planet-img-container">
                            <img class="planet-img" src="../../public/images/Mercury.png" alt="Planet Mercury">
                        </div>
                    </div>
                    <div class="planet-data">
                        <h3 class="planet-name">Mercury</h3>
                        <p class="planet-diam">4,879 KM</p>
                        <p class="planet-desc">The smallest and closest planet to the Sun, with extreme temperatures due to its thin atmosphere.</p>
                    </div>
                </li>
                <li class="card-item">
                    <div class="planet-cont">
                        <div class="back-img" data-planet="venus"></div>
                        <div class="planet-img-container">
                            <img class="planet-img" src="../../public/images/Venus.png" alt="Planet Venus">
                        </div>
                    </div>
                    <div class="planet-data">
                        <h3 class="planet-name">Venus</h3>
                        <p class="planet-diam">12,104 KM</p>
                        <p class="planet-desc">Similar in size to Earth but with a thick, toxic atmosphere causing a runaway greenhouse effect, making it the hottest planet.</p>
                    </div>
                </li> 
                <li class="card-item">
                    <div class="planet-cont">
                        <div class="back-img" data-planet="earth"></div>
                        <div class="planet-img-container">
                            <img class="planet-img" src="../../public/images/Earth.png" alt="Planet Earth">
                        </div>
                    </div>
                    <div class="planet-data">
                        <h3 class="planet-name">Earth</h3>
                        <p class="planet-diam">12,742 KM</p>
                        <p class="planet-desc">The only planet known to support life, with water, land, and an atmosphere that sustains living organisms.</p>
                    </div>
                </li> 
                <li class="card-item">
                    <div class="planet-cont">
                        <div class="back-img" data-planet="mars"></div>
                        <div class="planet-img-container">
                            <img class="planet-img" src="../../public/images/mars.png" alt="Planet Mars">
                        </div>
                    </div>
                    <div class="planet-data">
                        <h3 class="planet-name">Mars</h3>
                        <p class="planet-diam">6,779 KM</p>
                        <p class="planet-desc">Known as the "Red Planet" due to iron oxide on its surface. It has the largest volcano and canyon in the Solar System.</p>
                    </div>
                </li> 
                <li class="card-item">
                    <div class="planet-cont">
                        <div class="back-img" data-planet="jupiter"></div>
                        <div class="planet-img-container">
                            <img class="planet-img" src="../../public/images/Jupiter.png" alt="Planet Jupiter">
                        </div>
                    </div>
                    <div class="planet-data">
                        <h3 class="planet-name">Jupiter</h3>
                        <p class="planet-diam">139,8202 KM</p>
                        <p class="planet-desc">The largest planet, with a massive storm called the "Great Red Spot", is the most older planet, and at least 79 moons.</p>
                    </div>
                </li> 
                <li class="card-item">
                    <div class="planet-cont">
                        <div class="back-img" data-planet="saturn"></div>
                        <div class="planet-img-container">
                            <img class="planet-img" src="../../public/images/Saturn.png" alt="Planet Saturn">
                        </div>
                    </div>
                    <div class="planet-data">
                        <h3 class="planet-name">Saturn</h3>
                        <p class="planet-diam">116,460 KM</p>
                        <p class="planet-desc">Famous for its bright, icy rings and many moons, including Titan, which has lakes of liquid methane, and the second largest.</p>
                    </div>
                </li> 
                <li class="card-item">
                    <div class="planet-cont">
                        <div class="back-img" data-planet="uranus"></div>
                        <div class="planet-img-container">
                            <img class="planet-img" src="../../public/images/Uranus.png" alt="Planet Uranus">
                        </div>
                    </div>
                    <div class="planet-data">
                        <h3 class="planet-name">Uranus</h3>
                        <p class="planet-diam">50,724 KM</p>
                        <p class="planet-desc">A cold ice giant that rotates on its side, likely due to a past collision. Its atmosphere is rich in methane, giving it a blue color.</p>
                    </div>
                </li> 
                <li class="card-item">
                    <div class="planet-cont">
                        <div class="back-img" data-planet="neptune"></div>
                        <div class="planet-img-container">
                            <img class="planet-img" src="../../public/images/neptune.png" alt="Planet Neptune">
                        </div>
                    </div>
                    <div class="planet-data">
                        <h3 class="planet-name">Neptune</h3>
                        <p class="planet-diam">49,244 KM</p>
                        <p class="planet-desc">The farthest planet from the Sun, known for its deep blue color and the strongest winds in the Solar System.</p>
                    </div>
                </li> 
            </ul>
        </div>
    </section>
</body>
</html>